body {
    background: #000;
    filter: brightness(150%);
}

form article h1[contenteditable=true],
form article p[contenteditable=true],
form article details[contenteditable=true] {
    filter: brightness(600%);
}

form article details[contenteditable=true] p {
    filter: brightness(25%);
}

section.dev {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 30em;
    min-height: 30em;
    background: #000;
    color: rgba(65, 143, 159, .8);
}

section.dev::before {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    left: calc(50% - 50vw);
    top: calc(50% - 50vh);
    position: absolute;
}

section.dev button.closer {
    color: rgba(65, 143, 159, .8);
    position: absolute;
    right: 0;
    top: 0;
}

section.dev h1 {
    padding-left: .3em;
    line-height: 0;
    filter: brightness(100%);
}

section.dev pre {
    position: absolute;
    overflow-y: auto;
    filter: brightness(600%);
    background: rgba(65, 143, 159, .1);
    border: .063em solid rgba(65, 143, 159, .05);
    top: 3em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
}