@font-face {
    font-family: OpenSans;
    src: url("../webfonts/OpenSans/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../webfonts/OpenSans/OpenSans-SemiBold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../webfonts/OpenSans/OpenSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url("../webfonts/OpenSans/OpenSans-SemiBoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

html {
    font-family: OpenSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1em;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    width: 50em;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

form article h1,
form article p,
form article :not(.options):not(.tags) > li {
    border-radius: .25em;
    background: rgba(65, 143, 159, .1);
    padding: .4em;
    box-sizing: border-box;
}

form article h1 {
    margin-bottom: 0;
}

form article p {
    margin-top: .5em;
    margin-bottom: 0;
}

form article section,
form article .tags {
    border-radius: .25em;
    position: relative;
}

form article details,
form article ol:not(.options):not(.tags),
form article ul {
    border-radius: .25em;
    background: rgba(65, 143, 159, .1);
    border: .063em solid rgba(65, 143, 159, .05);
}

form article .options li,
form article .tags li {
    display: inline;
}

form article .options br,
form article .tags br,
form article .tags section br:last-child {
    display: none;
}

form article header img {
    width: 3em;
    height: 3em;
    display: inline-block;
    position: relative;
    left: 1em;
    margin-top: 1.3em;
    float: left;
    z-index: 2;
}

form article p {
    min-height: 2.25em;
    width: 100%;
}

form article header p:first-of-type {
    min-height: 4.5em;
}

form article header img:not([src]) + p:first-of-type::before {
    content: '';
    margin-left: -0.6em;
    margin-right: 0.12em;
    display: inline-block;
    float: left;
    z-index: 1;
    font-family: "Font Awesome\ 5 Free";
    font-size: 4em;
}

form > fieldset:last-of-type {
    border: none;
    padding: 0;
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
    padding: .25em;
    margin: .25em .25em;
    display: inline-block;
    color: rgba(65, 143, 159, .8);
    background: rgba(65, 143, 159, .1);
    background: linear-gradient(top, rgba(65, 143, 159, .1) 0, rgba(65, 143, 159, .05) 100%);
    background: -moz-linear-gradient(top, rgba(65, 143, 159, .1) 0, rgba(65, 143, 159, .05) 100%);
    background: -webkit-linear-gradient(top, rgba(65, 143, 159, .1) 0, rgba(65, 143, 159, .05) 100%);
    background: -o-linear-gradient(top, rgba(65, 143, 159, .1) 0, rgba(65, 143, 159, .05) 100%);
    border: .25em solid rgba(65, 143, 159, .1);
    border-radius: .25em;
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
    font-weight: bold;
}

button:hover,
button.active,
input[type=button]:hover,
input[type=button].active,
input[type=submit]:hover,
input[type=submit].active,
input[type=reset]:hover,
input[type=reset].active {
    color: rgba(65, 143, 159, .8);
    background: rgba(65, 143, 159, .5);
    background: linear-gradient(top, rgba(65, 143, 159, .5) 0, rgba(65, 143, 159, .05) 100%);
    background: -moz-linear-gradient(top, rgba(65, 143, 159, .5) 0, rgba(65, 143, 159, .05) 100%);
    background: -webkit-linear-gradient(top, rgba(65, 143, 159, .5) 0, rgba(65, 143, 159, .05) 100%);
    background: -o-linear-gradient(top, rgba(65, 143, 159, .5) 0, rgba(65, 143, 159, .05) 100%);
    border: .25em solid rgba(65, 143, 159, .5);
}

button:active,
button:disabled,
input[type=button]:active,
input[type=button]:disabled,
input[type=submit]:active,
input[type=submit]:disabled,
input[type=reset]:active,
input[type=reset]:disabled {
    color: rgba(65, 143, 159, .3);
}

.options button {
    width: 2em;
    padding: .25em 0;
    color: rgba(65, 143, 159, .8);
    font-family: "Font Awesome\ 5 Free";
}

.anchorHandle {
    position: absolute;
    width: 50em;
}

.anchorHandle input,
.anchorHandle label {
    display: block;
    width: 100%;
    clear: both;
}

.anchorHandle button.closer {
    float: right;
}