@font-face {
    font-family: OpenSans;
    src: url("../webfonts/OpenSans/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../webfonts/OpenSans/OpenSans-SemiBold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: OpenSans;
    src: url("../webfonts/OpenSans/OpenSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url("../webfonts/OpenSans/OpenSans-SemiBoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

html {
    font-family: OpenSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1em;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

main {
    width: 50em;
    margin: auto;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

form article h1,
form article p,
form article li {
    padding: .4em;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .4);
}

form article h1 {
    margin-bottom: 0;
    border-radius: .25em .25em 0 0;
}

form article p {
    margin-top: .5em;
    margin-bottom: 0;
}

form article header,
form article section {
    border-radius: .25em;
    position: relative;
    background: rgba(65, 143, 159, .2);
}

form article details,
form article ol,
form article ul {
    margin-top: .5em;
}

form article > header > :last-child,
form article > section > :last-child,
form article > footer > section > :last-child {
    border-radius: 0 0 .25em .25em;
}

.options li {
    display: inline;
}

form article header img {
    width: 3em;
    height: 3em;
    display: inline-block;
    position: relative;
    left: 1em;
    margin-top: 1.3em;
    float: left;
    z-index: 2;
}

form article p {
    min-height: 2.25em;
    width: 100%;
}

form article header p:first-of-type {
    min-height: 4.5em;
}

form article header img:not([src]) + p:first-of-type::before {
    content: '';
    margin-left: -0.6em;
    margin-right: 0.12em;
    display: inline-block;
    float: left;
    z-index: 1;
    font-family: "Font Awesome\ 5 Free";
    font-size: 4em;
}

form article header img[src] {
    margin-right: 2em;
}

form > fieldset:last-of-type {
    border: none;
    padding: 0;
}

article > footer .tags li {
    height: 2em;
    display: inline-block;
    padding: .25em;
    margin-right: 1em;
    border-radius: .25em;
    background: rgba(255, 255, 255, .4);
}

article > footer .tags li:before {
    content: '';
    font-family: "Font Awesome\ 5 Free";
    margin-right: .25em;
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
    padding: .25em;
    margin: .25em .25em;
    display: inline-block;
    color: rgba(65, 143, 159, .8);
    background: rgba(65, 143, 159, .2);
    background: linear-gradient(top, rgba(65, 143, 159, .2) 0, rgba(65, 143, 159, .05) 100%);
    background: -moz-linear-gradient(top, rgba(65, 143, 159, .2) 0, rgba(65, 143, 159, .05) 100%);
    background: -webkit-linear-gradient(top, rgba(65, 143, 159, .2) 0, rgba(65, 143, 159, .05) 100%);
    background: -o-linear-gradient(top, rgba(65, 143, 159, .2) 0, rgba(65, 143, 159, .05) 100%);
    border: .25em solid rgba(65, 143, 159, .2);
    border-radius: .25em;
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
    font-weight: bold;
}

button:hover,
button.active,
input[type=button]:hover,
input[type=button].active,
input[type=submit]:hover,
input[type=submit].active,
input[type=reset]:hover,
input[type=reset].active {
    color: rgba(65, 143, 159, .8);
    background: rgba(65, 143, 159, .5);
    background: linear-gradient(top, rgba(65, 143, 159, .5) 0, rgba(65, 143, 159, .05) 100%);
    background: -moz-linear-gradient(top, rgba(65, 143, 159, .5) 0, rgba(65, 143, 159, .05) 100%);
    background: -webkit-linear-gradient(top, rgba(65, 143, 159, .5) 0, rgba(65, 143, 159, .05) 100%);
    background: -o-linear-gradient(top, rgba(65, 143, 159, .5) 0, rgba(65, 143, 159, .05) 100%);
    border: .25em solid rgba(65, 143, 159, .5);
}

button:active,
button:disabled,
input[type=button]:active,
input[type=button]:disabled,
input[type=submit]:active,
input[type=submit]:disabled,
input[type=reset]:active,
input[type=reset]:disabled {
    color: rgba(65, 143, 159, .3);
}

.modal {
    position: fixed;
    display: block;
    max-height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    background-clip: content-box, padding-box;
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, .3) 0, rgba(0, 0, 0, .3) 100%);
}

.modal > .closer {
    float: right;
}

.modal > h1 {
    font-size: 1.5em;
    display: inline-block;
    margin: .5em .5em 0 .5em;
}

.modal > h1 + * {
    clear: right;
}

.modal > :not(h1) {
    margin: 1em;
}

.modal label,
.modal input {
    display: block;
    clear: both;
    box-sizing: border-box;
}

.modal input {
    width: 100%;
}

.options button {
    padding: .25em;
    color: rgba(65, 143, 159, .8);
    font-family: "Font Awesome\ 5 Free";
}

.modal.img,
.modal.anchor {
    width: 50em;
    height: 15.5em;
    box-sizing: content-box;
    padding: calc(50vh - 7.75em) calc(25vw + 5em);
}

.modal.figure {
    width: 50em;
    height: 20em;
    box-sizing: content-box;
    padding: calc(50vh - 10em) calc(25vw + 5em);
}

.modal.img > :last-child,
.modal.figure > :last-child {
    text-align: center;
    display: block;
    border: dashed .188em #aaa;
    border-radius: .7em;
    color: rgba(136, 136, 136, 1);
    height: 7.2em;
    vertical-align: middle;
    line-height: 7.2em;
}

.modal.img > :last-child input,
.modal.figure > :last-child input {
    visibility: hidden;
}